[Unit]
Description=JorManager - Jormungandr Manager for Cardano Nodes
After=syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=<user>
LimitNOFILE=131072
WorkingDirectory=<jormanager_path>
ExecStart=<java_exec> -jar <jormanager_path>/jormanager.jar
SuccessExitStatus=143
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jormanager
Environment=RUST_BACKTRACE=full

[Install]
WantedBy=multi-user.target